//FONTS
// @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap');
$font: 'Montserrat', sans-serif;
//-----------------------------------------------------------------------------

//COLOR-PALETTE
$blue: #004f78;
$orange: #e4b013;
$gray: #555555;
$black: #000000;

//-----------------------------------------------------------------------------

//EXTEND CLASSES

// %sid-section {
//     background: none;
//     height: calc(100% - 80px);
//     width: 100%;
//     z-index: 101;
//     position: absolute;
//     top: 0;
//     padding: 80px 60px 60px 60px;
// }
